<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtmUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AtmUi.Properties.Settings>
            <setting name="StartPage" serializeAs="String">
                <value>Pages/AtmStart.xaml</value>
            </setting>
            <setting name="DefaultButtonFontSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DefaultTitleFontSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="DefaultDescriptionFontSize" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="DefaultFontFamily" serializeAs="String">
                <value>Segoe UI Bold</value>
            </setting>
            <setting name="IsDevTest" serializeAs="String">
                <value>False</value>
            </setting>
        </AtmUi.Properties.Settings>
    </applicationSettings>
</configuration>
